<% if logged_in? %>
<form action="<%= comments_url %>" method="post">
  <%= authenticity_token %>

  <input type="hidden" name="comment[commentable_id]"
    value="<%= commentable.id %>">
  <input type="hidden" name="comment[commentable_type]"
    value="<%= commentable.class %>">

  <label>Comment:<br>
    <textarea name="comment[content]"></textarea>
  </label><br>

  <button>Publish</button>
</form>
<% end %>