<form action="<%= comments_url %>" method="post">
  <input type="hidden" name="comment[commentable_id]" value="<%= commentable.id %>">

  <input type="hidden" name="comment[commentable_type]" value="<%= commentable.class %>">

  <label>Comment
    <textarea name="comment[content]"></textarea>
  </label>

  <button>Publish</button>
</form>